<footer>
  <div class='footer-in container'>
    <div class='footer-contents flex row col-md-9 offset-md-1'>
      <div class='footer-section'>
        <h3>レシピを探す</h3>
        <ul>
          <li><%= link_to "ジャンル一覧" %></li>
          <li><%= link_to "レシピランキング" %></li>
          <li><%= link_to "人気なレシピ" %></li>
          <li><%= link_to "自分のレシピ" %></li>
          <li><%= link_to "新着レシピ" %></li>
          <li><%= link_to "デイリー数ランキング" %></li>
        </ul>
      </div>
      <div class='footer-section'>
        <h3>レシピを書く</h3>
        <ul>
          <li><%= link_to "レシピを書く" %></li>
          <li><%= link_to "レシピの書き方" %></li>
        </ul>
        <h3>献立</h3>
        <ul>
          <li><%= link_to "みんなの献立" %></li>
          <li><%= link_to "学生の献立" %></li>
        </ul>
      </div>
      <div class='footer-section'>
        <h3>おすすめ</h3>
        <ul>
          <li><%= link_to "学生向けレシピ" %></li>
          <li><%= link_to "一人暮らし向けレシピ"%></li>
        </ul>
      </div>
    </div>
    <div class='footer-text footer'>
      <div>
        <div>
          サポート
        </div>
        <div>
          企業情報
        </div>
        <div>
          日本
        </div>
      </div>
      Copyright recipe All Rights Reserved
    </div>
  </div>

</footer>