<h5 class=''>レシピ関連サービス</h3>
<ul>
  <li class='relete'>
    <%= link_to 'みんなのレシピ', recipes_path %>
  </li>
  <li class='relete'>
    <%= link_to '有名人のレシピ', recipes_path %>
  </li>
  <li class='relete'>
    <%= link_to '献立', recipes_path %>
  </li>
  <li class='relete'>
    <%= link_to 'お気に入り', recipes_path %>
  </li>
  <li class='relete'>
    <%= link_to 'レシピを作る', new_recipe_path %>
  </li>
</ul>
