<%= render 'public/shared/header' %>
<div>
  <div>
    <h3>レシピ一覧</h3>
  </div>
</div>
<div>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <div>
        画像
      </div>
      <div>
        <%= recipe.name %>
        <%= recipe.difficulty %>
        <%= recipe.price %>
        <%= recipe.time %>
        <%= recipe.impression %>
        <%= recipe.number %>
        <%= recipe.genre_id %>
        <%= recipe.calorie %>
      </div>
    </li>
    <% end %>
  </ul>

</div>