<%= render 'public/shared/header' %>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-8'>
      <%= form_with model: @recipe , url: recipes_path do |f| %>
      <h4>料理名</h4>
        <%= f.text_field :name %>
      <h4>ジャンル</h4>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "ジャンルを選択してください" %>
       <h4>何人前</h4>
        <%= f.number_field :number,in: 1..10, step: 1 %>
      <h4>料理時間</h4>
        <%= f.number_field :number,in: 1..120, step: 1 %>分
      <div class="field" id="star">
        <%= f.label :difficulty, "むずかしさ：" %>
        <%= f.hidden_field :difficulty, id: :review_star %>
      </div>
        <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'menu[difficulty]',
            half: true,
          });
        </script>
      <h4>感想</h4>
        <%= f.text_area :impression, size: '60x5' %>
      <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %></br></br>
      <div class="field">
        <% Menu.authorities.each do |d| %>
        <%= f.label t("enums.menu.authority.#{d[0]}") %>
        <%= f.radio_button :authority, d[0] %></br>
        <% end %>
      </div>
        <%= f.submit '投稿', class: 'btn btn-success field' %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'public/shared/footer' %>