<%= render 'public/shared/header' %>
<div class='row col-md-6 offset-md-6'>
    <h3>レシピ検索</h3> <br>
    <%= search_form_for @q, url: search_recipes_path do |f| %>
      <%= f.label :name_cont, 'レシピ名,作成者' %>
      <%= f.search_field :name_or_customer_name_cont %>
      <%= f.label :genre_name_cont, 'ジャンル名' %>
      <%= f.select :genre_name_cont , options_from_collection_for_select(Genre.all, :id, :name)%><br>
      <%= f.radio_button :customer_age_lteq, '30' %>30歳以下
      <%= f.radio_button :customer_age_lteq, '40' %>40歳以下
      <%= f.radio_button :customer_age_lteq, '50' %>50歳以下
      <%= f.radio_button :customer_age_lteq, '60' %>60歳以下
      <%= f.submit '検索', class: "btn btn-primary" %>
    <% end %>
</div>
  <div class='row col-md-6 offset-md-4'>
    <h3><%= params[:q].values.join() %>に関するレシピ</h3>
  </div>
  <div class='row'>
    <div class='col-md-3 offset-md-1'>
      <%= render 'public/shared/left' %>
    </div>
    <div class='col-md-6'>
      <ul>
        <% @results.each do |recipe| %>
        <li class='flex'>
          <div class='image'>
            <%= image_tag recipe.get_image(100,100) %>
          </div>
          <div>
            <div>
              <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
            </div>
            <div>
              <%= recipe.impression %></br>
              <%= recipe.customer.name %>
            </div>
            <div>
              ジャンル:　<%= recipe.genre.name %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'public/shared/footer' %>