<%= render 'public/shared/header' %>
<div>
  <div>
    <h3>レシピ：<%= @recipe.name %></h3>
  </div>
  <div></div>
</div>
<div>
  <div class='row'>
    <div  class='col-md-3 offset-md-2'>
      <%= image_tag @recipe.get_image(500, 500) %>
    </div>
    <div>
      何人前、ジャンル、カロリー、時間、難しさ、誰に見せるか
    </div>
  </div>
</div>
<div>
  <div>
    <h3><%= @recipe.name %></h3>
  </div>
  <div>
    材料
    <table class='table table-hover table-inverse'>
      <% @recipe.menu_details.all.each do |detail| %>
        <tr>
          <td><%= detail.name %></td>
          <td><%= detail.amount %></td>
        </tr>
        <% end %>
      </table>
  </div>
  <div>
    方法
  </div>
</div>
<div>

</div>
<%= render 'public/shared/footer' %>